<!DOCTYPE html>
<html ng-app="djangoApp">
<head>
  <link rel="stylesheet" type="text/css" 
href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script type="text/javascript" 
src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
  <script type="text/javascript" src="mainApp.js"></script>
  <title></title>
</head>
<body ng-controller="siaMyCtrl as smc">

  <button ng-hide="c.editMode" ng-click="smc.model.showAddRow = 
true">Add</button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll</th>
        <th>Town</th>
        <th>Class</th>
        <th></th>
      </tr>
    </thead>

    <!-- Not valid HTML to have a form here but works -->
    <form  ng-submit="smc.create(smc.model.newStudent)">
    <tr ng-show="smc.model.showAddRow">
      <td><input ng-model="smc.model.newStudent.name"> </td>
      <td><input ng-model="smc.model.newStudent.roll"> </td>
      <td><input ng-model="smc.model.newStudent.town"></td>
      <td><input ng-model="smc.model.newStudent.class"></td>
      <td><button>Save</button></td>
    </tr>
    </form>

    <tr
      ng-repeat="c in smc.StudentsService.loadedStudents |  filter:query">

      <td><span ng-model="studName" ng-hide="c.editMode">{{ c.name 
}}</span><input ng-show="c.editMode" ng-model="c.name"> </td>
      <td><span ng-model="studRoll" ng-hide="c.editMode">{{ c.roll 
}}</span><input ng-show="c.editMode" ng-model="c.roll"> </td>
      <td><span ng-model="studTown" ng-hide="c.editMode">{{ c.town 
}}</span><input ng-show="c.editMode" ng-model="c.town"></td>
      <td><span ng-model="studClass" ng-hide="c.editMode">{{ c.class 
}}</span><input ng-show="c.editMode" ng-model="c.class"></td>
      <td>
        <button ng-hide="c.editMode" ng-click="smc.edit(c)">Edit</button>
        <button ng-hide="c.editMode" 
ng-click="smc.StudentsService.deleteStudent(c)">Delete</button>
        <button ng-show="c.editMode" 
ng-click="smc.update(c)">Save</button>
        <button ng-show="c.editMode" 
ng-click="smc.cancel(c)">Cancel</button>
      </td>

    </tr>
  </table>
</body>
</html>
